.grid-container {
    max-width: 1080px;
    margin: auto;
  }

  .logo{
    margin-left: 0;
    width: 60px;
    height: 60px;
  }

  .mat-h1 {
    font-size: 30px;
  }

  .dashboard-card {
    margin: auto;
    padding: 40px;
    text-align: justify;
  }

  .image {
    display: block;
    margin: auto;
    width: 270px;
    max-width: 290px;
    max-height: 300px;
    height: auto;
  }

  .rodape {
    margin: 0;
    font-size: 12px;
  }

  .footer{
    margin-left: 0.5rem;
    height: 35px;
  }
