.grid-container {
  max-width: 1080px;
  margin: 2rem;
}

.painelTitulo {
  font-size: 18px;
  background: #9b87c4;
  color: white;
}

.painel {
  margin: auto;
  padding: 10px;
  text-align: justify;
}
