.sidenav-container {
  height: 100%;
}

// Aumento da largura do Menu
.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}
.mat-toolbar.mat-accent {
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}
.change-color{
  margin-left: 800px;
}

.sectionMenu {
  display: flex;
  background: #9b87c4;

}

.sectionMenu h4 {
  margin-left: 1.3rem;
  margin-top: .9rem;
  justify-content: center;
  align-content: center;
  vertical-align: center;
  align-items: center;
  font-size: .9rem;
  opacity: .8;
  color: #fff;
  font-weight: 500;

}

.catTop10,
.sectionItem {
  background: rgb(242, 241, 247);

}

mat-icon {
  margin-left: -.5rem;
}

.buttonEmail {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
}

.more {
 margin-left: .2rem;
}

// O ícone irá sumir quando a tela estiver em 600px
@media only screen and (max-width: 600px) {
  .small-icon {
    display: none;
  }
}

// Dimensionamento da imagem
.avatar-edit {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
