<mat-card>
  <div *ngIf=" livrosTeatro$| async as livrosTeatro; else loading">
    <mat-toolbar color="accent">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Teatro</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <table mat-table [dataSource]="livrosTeatro" class="mat-elevation-z8">

      <!-- Ranking -->
      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef> Ranking </th>
        <td mat-cell *matCellDef="let livroTeatro"> {{ livroTeatro.ranking }} </td>
      </ng-container>

      <!-- Imagem -->
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let livrosTeatro"><img class="imgLivro" [src]="livrosTeatro.img"></td>
      </ng-container>

      <!-- Titulo -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let livrosTeatro"><h4 class="titLivro"> {{ livrosTeatro.titulo }} </h4></td>
      </ng-container>

      <!-- Autor -->
      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let livrosTeatro"><p class="autorLivro">{{ livrosTeatro.autor }} </p></td>
      </ng-container>

      <!-- Descrição  -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let livrosTeatro"><h4 class="descLivro"> {{ livrosTeatro.descricao }} </h4></td>
      </ng-container>

      <!-- Ano  -->
      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef> Ano </th>
        <td mat-cell *matCellDef="let livrosTeatro"> {{ livrosTeatro.ano }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="visaoColunas"></tr>
      <tr mat-row *matRowDef="let row; columns: visaoColunas;"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>

