.grid-container {
  margin: 20px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.mat-h1 {
  margin-left: 0.8rem;
  font-size: 30px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
