.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.example-card {
  max-width: 640px;
}
.example-header-image {
  background-image: url('../../assets/imagens/ShelfBook.png');
  background-size: cover;
}
mat-card-footer{
  margin: auto;
}

.inputLogin {
  margin-left: 0.3rem;
  margin-right: 1.2rem;
  padding: 0.3rem;
}

.buttonLogin {
  margin-left: 0;
  width: 185px;
}

.buttonClose {
  margin-left: 0.8rem;
  width: 185px;
  background-color: rgb(128, 128, 128);

}

.span {
  margin-left: 0.6rem;
}


.loginNormal, mat-card-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.loginGoogle{
  margin: 20px auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;

    img{
      margin-right: 15px;
      width: 25px;
    }
  }
}
